. {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

body > header {
    background-color: #3D996E;
    padding: 16px 0;
    color: #ecf0f1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
}

.articles article img {
    width: 90%;
}

.articles article {
    width: 50%;
}

section {
    padding: 16px 0;
}

section h2 .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#contact .container {
    display: block;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

font button {
    background-color: #E68273;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #E68273;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

#introduction {
    background-color: #E68273;
}

#megadrive {
    background-color: #3D996E;
}

#supernintendo {
    background-color: #E68273;
}

#play {
    background-color: #3D996E;
}

#nintendowii {
    background-color: #E68273;
}

#pc {
    background-color: #3D996E;
}

footer {
    background-color: #3D996E;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}